<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files or directories if they exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise, forward the request to index.html
  RewriteRule . /index.html [L]
</IfModule>
