
<main class="min-h-screen w-full bg-gray-100 text-gray-700">
    <!-- header page -->
    <header class="flex w-full items-center justify-between border-b-2 border-gray-200 bg-white p-2">
        <!-- logo -->
        <div class="flex items-center space-x-2">
            <button id="menuButton" type="button" class="text-3xl"><i class="bx bx-menu"></i></button>
            <div>Logo</div>
        </div>

        <!-- button profile -->
        <div class="relative">
            <button id="profileButton" type="button" class="h-9 w-9 overflow-hidden rounded-full">
                <img src="https://plchldr.co/i/40x40?bg=111111" alt="Profile" />
            </button>

            <!-- dropdown profile -->
            <div id="profileDropdown" class="absolute right-2 mt-1 w-48 divide-y divide-gray-200 rounded-md border border-gray-200 bg-white shadow-md hidden transition opacity-0">
                <div class="flex items-center space-x-2 p-2">
                    <div class="font-medium">{{user.username}}</div>
                </div>

                <div class="flex flex-col space-y-3 p-2">
                    <a routerLink="/utilisateurs" class="transition hover:text-blue-600"><i class="fa-solid fa-users"></i>Utilisateurs</a>
                </div>

                <div class="p-2">
                    <button class="flex items-center space-x-2 transition hover:text-blue-600">
                        <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                            </path>
                        </svg>
                        <button (click)="logout(user)" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</button>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="flex">
        <!-- aside -->
        <aside id="sidebar" class="flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2" style="height: 90.5vh">
           <!-- Motos -->
            <a routerLink="/moto" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                <span class="text-2xl"><i class="fa-solid fa-motorcycle"></i></span>
                <span>Motos</span>
            </a>
        <!-- Recettes -->
            <a routerLink="/recette" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                <span class="text-2xl"><i class="fa-solid fa-money-bill-trend-up"></i></span>
                <span>Recettes</span>
            </a>
             <!-- Pannes -->
            <a routerLink="/panne" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                <span class="text-2xl"><i class="fa-solid fa-bug-slash"></i></span>
                <span>Pannes</span>
            </a>
        <!-- Entretien -->
            <a routerLink="/entretien" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                <span class="text-2xl"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                <span>Entretiens</span>
            </a>

            <a routerLink="/contrat" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                <span class="text-2xl"><i class="fa-solid fa-file-contract"></i></span>
                <span>Contrats</span>
            </a>
            <a routerLink="/utilisateurs" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                <span class="text-2xl"><i class="fa-solid fa-users"></i></span>
                <span>Utilisateurs</span>
            </a>
            <button (click)="logout(user)" class="p-2 bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</button>

        </aside>

        <!-- main content page -->
        <div class="w-full p-4">

            <router-outlet></router-outlet>

        </div>
    </div>
</main>

